{% load socialaccount %}
<html>
    <head>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>
    <style>
      a{
            margin: 10px 20px;
            padding: 7px 10px;  
            border-radius: 5px;
            text-align: center;
            align-items: center;
            border: none;
            background-color: #54b4f3;
            color: white;
            font:white;
            text-decoration: none !important;
      }
      a:hover{
          color: white;
      }
  </style>
<body>
    <div class="container mt-5">

        <h1>My Google OAuth Project </h1>
        {% if user.is_authenticated %}
        <p>Welcome, You are logged in as {{ user.username.capitalize }}</p>
        <a href="{% url 'logout' %}">Logout</a>
        {% else %}
        <br>
        <a href="{% provider_login_url 'google' %}">Login With Google</a>
        {% endif %}
    </div>
</body>
</html>